<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%= title %></title>
    <meta name="description" content="<%= description %>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
      <a class="navbar-brand" href="#">Facial Recognition</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar" aria-controls="layout-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div id="layout-navbar" class="collapse navbar-collapse justify-content-md-right">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item <%= routeName === 'home' ? 'active' : '' %>">
            <a class="nav-link" href="./"> Home </a>
          </li>
        </ul>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="nav-dropdown-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Steps for facial recognition</a>
            <div class="dropdown-menu" aria-labelledby="nav-dropdown-1">
              <a class="dropdown-item" href="/registerFaces">Step 1 - Register Faces</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid pb-5">
      <%- body %>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <%- scripts %>
  </body>
</html>